<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcessStaffLogin</servlet-name>
        <servlet-class>controller.ProcessStaffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessStudentLogin</servlet-name>
        <servlet-class>controller.ProcessStudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessStudentRegistration</servlet-name>
        <servlet-class>controller.ProcessStudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessStaffRegistration</servlet-name>
        <servlet-class>controller.ProcessStaffRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogout</servlet-name>
        <servlet-class>controller.ProcessLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffDetail</servlet-name>
        <servlet-class>controller.EditStaffDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coupon</servlet-name>
        <servlet-class>controller.Coupon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMeal</servlet-name>
        <servlet-class>controller.GetMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFood</servlet-name>
        <servlet-class>controller.GetFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBeverage</servlet-name>
        <servlet-class>controller.GetBeverage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMealOrder</servlet-name>
        <servlet-class>controller.GetMealOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessStaffLogin</servlet-name>
        <url-pattern>/ProcessStaffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessStudentLogin</servlet-name>
        <url-pattern>/ProcessStudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessStudentRegistration</servlet-name>
        <url-pattern>/ProcessStudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessStaffRegistration</servlet-name>
        <url-pattern>/ProcessStaffRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogout</servlet-name>
        <url-pattern>/ProcessLogout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetMealList</servlet-name>
        <servlet-class>controller.GetMealList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBeverageList</servlet-name>
        <servlet-class>controller.GetBeverageList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFoodList</servlet-name>
        <servlet-class>controller.GetFoodList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopUp</servlet-name>
        <servlet-class>controller.TopUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMealOrderList</servlet-name>
        <servlet-class>controller.GetMealOrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewMeal</servlet-name>
        <servlet-class>controller.AddNewMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewFood</servlet-name>
        <servlet-class>controller.AddNewFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewBeverage</servlet-name>
        <servlet-class>controller.AddNewBeverage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMealOrderList</servlet-name>
        <servlet-class>controller.EditMealOrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMealList</servlet-name>
        <servlet-class>controller.EditMealList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBeverageList</servlet-name>
        <servlet-class>controller.EditBeverageList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFoodList</servlet-name>
        <servlet-class>controller.EditFoodList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMeal</servlet-name>
        <servlet-class>controller.DeleteMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFood</servlet-name>
        <servlet-class>controller.DeleteFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBeverage</servlet-name>
        <servlet-class>controller.DeleteBeverage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFoodAndBeverage</servlet-name>
        <servlet-class>controller.GetFoodAndBeverage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewMeal2</servlet-name>
        <servlet-class>controller.AddNewMeal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMealList</servlet-name>
        <url-pattern>/GetMealList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBeverageList</servlet-name>
        <url-pattern>/GetBeverageList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFoodList</servlet-name>
        <url-pattern>/GetFoodList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopUp</servlet-name>
        <url-pattern>/TopUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMealOrderList</servlet-name>
        <url-pattern>/GetMealOrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewMeal</servlet-name>
        <url-pattern>/AddNewMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewFood</servlet-name>
        <url-pattern>/AddNewFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewBeverage</servlet-name>
        <url-pattern>/AddNewBeverage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMealOrderList</servlet-name>
        <url-pattern>/EditMealOrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMealList</servlet-name>
        <url-pattern>/EditMealList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBeverageList</servlet-name>
        <url-pattern>/EditBeverageList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFoodList</servlet-name>
        <url-pattern>/EditFoodList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMeal</servlet-name>
        <url-pattern>/DeleteMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFood</servlet-name>
        <url-pattern>/DeleteFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBeverage</servlet-name>
        <url-pattern>/DeleteBeverage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFoodAndBeverage</servlet-name>
        <url-pattern>/GetFoodAndBeverage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewMeal2</servlet-name>
        <url-pattern>/AddNewMeal2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffDetail</servlet-name>
        <url-pattern>/EditStaffDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentRegisterProcess</servlet-name>
        <servlet-class>controller.StudentRegisterProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Identification</servlet-name>
        <servlet-class>controller.Identification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSelectMeal</servlet-name>
        <servlet-class>controller.StudentSelectMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentOrder</servlet-name>
        <servlet-class>controller.StudentOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegisterProcess</servlet-name>
        <url-pattern>/StudentRegisterProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Identification</servlet-name>
        <url-pattern>/Identification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSelectMeal</servlet-name>
        <url-pattern>/StudentSelectMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentOrder</servlet-name>
        <url-pattern>/StudentOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coupon</servlet-name>
        <url-pattern>/Coupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMeal</servlet-name>
        <url-pattern>/GetMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFood</servlet-name>
        <url-pattern>/GetFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBeverage</servlet-name>
        <url-pattern>/GetBeverage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMealOrder</servlet-name>
        <url-pattern>/GetMealOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
